<!DOCTYPE html>
<html>
<head>
<title>Cart</title>
<style>
body { background: linear-gradient(to right, #eef2f3, #dfe9f3); font-family: Arial; }

.container {
    width:70%;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

.item {
    display:flex;
    justify-content:space-between;
    margin:10px;
}
</style>
</head>
<body>

<div class="container">
<h2>Your Cart</h2>

{% for item in cart_items %}
<div class="item">
<span>{{ item.name }}</span>
<span>₹{{ item.price }}</span>
<a href="/remove-from-cart/{{ forloop.counter0 }}/">❌</a>
</div>
{% endfor %}

<h3>Total: ₹{{ total }}</h3>

</div>

</body>
</html>